{% extends 'base.html'%}
{% block content%}





<!-- Registration start   -->


<div style="height: 613px">



<div class="container-fluid">

<div class="col-md-12 ">
{% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

{% endif %}

<form class="form-horizontal" action='/AcceptStylishs/' method="POST" id="form1"> 
{% csrf_token %}



<div class="col-md-12" style="background-color: grey;margin-top: 9%;">
     <h3 class="card-title text-center" style="color:white">UPDATE ORGAN</h3>
  <hr style=" border-top:  2px solid white">



<div class="form-row">
      <div class="col-md-4 "style="margin-bottom: 20px">
        <label for="first_name" style="color: white;font-weight: bold;">PRODUCT NAME</label>
<input type="text" name="name" id="name"  placeholder="name" class="form-control ">
      </div>
      <div class="col-md-4 "style="margin-bottom: 20px">
        <label style="color: white"  for="validationTooltip02">PRODUCT LOCATION</label>
        <input type="text" class="form-control" name="location" id="location"  placeholder="Location" value="" >
      </div>
      <div class="col-md-4 "style="margin-bottom: 20px">
        <label style="color: white" for="validationTooltipUsername">PRODUCT AVAILABITY</label>
          <input type="text" class="form-control" name="availa" id="availa" placeholder="enter availability" value="">
      </div>
    </div>


    <div class="form-row">
      <div class="col-md-4 "style="margin-bottom: 20px">
        <label for="email"  style="color: white;font-weight: bold;">PRODUCT PRICE</label>
  <input type="text" name="price" id="price"  placeholder="price"class="form-control ">
      </div>




   


       



     <br><br> 


  <div class="col-md-12  text-center" style="margin-top: 5px">

  <input type="submit" class="btn btn-success" name="" value="Add">
  <br>
  <hr style=" border-top:  2px solid white">
</div>



</div>
<br><br>

</form>
<div class="col-md-12 divsign">
<div class="col-md-8 paddn">
<br><br>
</div>

</div>

</div>
<br><br>
</div>
</div>





{% endblock%}

